.copyright
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;

    p 原创文章，版权声明：署名-非商业性使用-相同方式共享 2.5 
    p 对博主感兴趣？微信订阅号中关注 sunnyxx 或关注微博#[a(href="http://weibo.com/1364395395/") @我就叫Sunny怎么了]
    p © #{year}  #[a(href=config.url)!= config.author] | Powered by Hexo